section {
	
	margin-left: 200px;
	margin-right: 50px;
}
.example-image-link {
	margin:15px;
}
.header {
	margin:100px;
}
body {
    background-image:url("photo/4857252757_fb7c3c6505_b.jpg");
}
.hero{
	text-align:center;
	font-family:'Lustria', serif;
}
