section {
	margin-top:70px;
	margin-left: 200px;
	margin-right: 50px;
}
.example-image-link {
	margin:15px;
}
.header {
	margin:100px;
}
body {
    background-color: white;
}
.hero{
	text-align:center
	font-family:'Lustria', serif
}
